body {
    background-image: url(assets/CoffeeBeans.jpg);
    background-size: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    }

.main {
    display: inline-flex;
    text-align: center;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

#mugsList {
    width: 70%;
    padding: 10px;
    background-color: rgba(300, 300, 300, 0.8);
    margin-right: 1%;
    height: auto;
    border-radius: 10px;
}

#mugsList h1 {
    color: rgba(211, 11, 11, 0.822);
    text-shadow: black 1px 1px;
}

.mug {
    border: 2px dotted black;
    margin: 4px;
    width: 250px;
    display: inline-block;
}

.mug button {
    margin-bottom: 5px;
}

.mug:hover {
    border: 2px solid rgba(211, 11, 11, 0.822);
}

.mug img {
    height: 200px;
    width: 225px;
}

header {
    display: flex;
    background-color: #ffebcd;
    position: fixed;
    width: 95vw;
    height: auto;
    min-height: 90px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    z-index: 1;
    opacity: 0.9;
    }

header h1 img {
    height: 40px;
    display: inline-block;
}

#title {
    display: grid;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
    width: 500px;
    }

nav {
    display: inline;
    margin-top: 20px;
    margin-left: 350px;     
}

nav a {
    color: rgb(84, 91, 131);
    font-weight: 200;
    padding: 5px;
}

nav a:hover {
    text-decoration: none;
}

#cart {
    height: 30px;
}

h2 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#benefits {
    width: 20%;
    background-color: rgb(152, 158, 190);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    opacity: 0.9;
    }

#benefits h3 {
    text-decoration: underline;
}

#benefits img {
    width: 100%;
    padding-top: 75px;
}

footer {
    background-color: #ffebcd;
    height: 10%;
    margin: 20px 0 ;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    width: 95vw;
    opacity: 0.9;
    }

footer img {
    height: 40px;
    padding: 5px;
    opacity: 1;
}

footer ul {
    margin-left: 500px;
}
footer ul li {
    list-style: none;
    display: inline-block; 
    }

footer ul li:hover {
    background-color: black;
    border-radius: 10px;
}

.copyright {
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 15px;
    font-size: .90em;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif
    }

